body {
	background: url('kids-background.png') #fff center no-repeat;
}

.cell input {
	background: #efe;
}

.cell input:focus {
	background: #fef;
}
.cell input:disabled {
	background: #cfc;
}